.gradle/
gradle/
gradlew*


tmp/


*.war

build/

// idea stuff:
.idea/
*.ipr
*.iws

settings.properties
out/

*.log
*.core

# sensitive data:
src/main/webapp/META-INF/context.xml

src/main/resources/log4j2.properties-notes
