html {
  background: #aaa;
}
body {
  background: #ccc;
  color: #333;
}

/*
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
*/

#mybanner {
/*    border: 2px solid blue; */
    background-color: #093;
/*     min-height: 80px; */
}

#myside {
    background-color: #461;
}

#mymain {
    background-color: #130;
}

